Build started...
Build succeeded.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

CREATE TABLE parent_tasks (
    parent_id integer NOT NULL GENERATED BY DEFAULT AS IDENTITY,
    parent_task int NOT NULL,
    CONSTRAINT "PK_parent_tasks" PRIMARY KEY (parent_id)
);

CREATE TABLE tasks (
    task_id integer NOT NULL GENERATED BY DEFAULT AS IDENTITY,
    task varchar(40) NULL,
    start_date timestamp NOT NULL,
    end_date timestamp NOT NULL,
    parent_id integer NOT NULL,
    CONSTRAINT "PK_tasks" PRIMARY KEY (task_id),
    CONSTRAINT "FK_tasks_parent_tasks_parent_id" FOREIGN KEY (parent_id) REFERENCES parent_tasks (parent_id) ON DELETE CASCADE
);

CREATE INDEX "IX_tasks_parent_id" ON tasks (parent_id);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20200318081648_initialUpdate', '3.1.2');

ALTER TABLE tasks ADD priority integer NOT NULL DEFAULT 0;

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20200318095153_addedpriorityColumn', '3.1.2');

ALTER TABLE tasks ADD status int NOT NULL DEFAULT 0;

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20200318101138_addedstatusColumn', '3.1.2');

ALTER TABLE parent_tasks ADD parent_task_details varchar(40) NULL;



